//$default-frontend-color: #548abb;
$default-frontend-color: #ec0000;
$topnav-background-color: #e7e7e7;
/*
.chip-selected {
    background-color: $default-frontend-color !important;
    color: $topnav-background-color;
}

.chip-unselected {
    background-color: $topnav-background-color !important;
    color: $default-frontend-color;
}
*/
