// @import "../../../styles/vars";

// .card > .card-header-audaxys {
//    background: $default-frontend-color;
//    color: #fff;
// }

// h4 {
//    font-size: 18px;
// }
//$default-frontend-color: #548abb;
$default-frontend-color: #ec0000;
$topnav-background-color: #e7e7e7;
/*
.chip-selected {
    background-color: $default-frontend-color !important;
    color: $topnav-background-color;
}
*/
