.mat-icon-button.mat-small {
    width: 30px;
    height: 30px;
}

.color-green {
    background: limegreen;
    color: white;
}

.mat-icon-size {
    font-size: 20px;
    vertical-align: -1px;
    color: white;
}
