<div mat-dialog-title class="mat-card-audaxys mat-dialog-title-adx">
    <h4 class="mat-dialog-title-adx">{{ 'Consulta Contrato' | translate }}</h4>
</div>
<div mat-dialog-content class="mat-dialog-content-adx">
    <form novalidate #zoomcontrato="ngForm" name="modal_form" id="modal_form" >
        <!-- linha 1 -->
        <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between center">
            <label fxFlex="24%" fxHide.xs><strong>{{ 'Número' | translate }}</strong></label>
            <mat-form-field fxFlex="24%">
                <mat-placeholder fxHide fxShow.xs>{{ 'Número' | translate }}</mat-placeholder>
                <input matInput type="text" class="text-right" id="ctonum" name="ctonum" value="{{ contrato.ctonum }}" [(ngModel)]="contrato.ctonum" />
            </mat-form-field>
            <div fxFlex="49%"></div>
        </div>
        <!-- linha 2 -->
        <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between center">
            <label fxFlex="24%" fxHide.xs><strong>{{ 'Número processo' | translate }}</strong></label>
            <mat-form-field fxFlex="24%">
                <mat-placeholder fxHide fxShow.xs>{{ 'Processo' | translate }}</mat-placeholder>
                <input type="text" matInput class="text-right" id="ctoncon" name="ctoncon" value="{{ contrato.ctoncon }}" [(ngModel)]="contrato.ctoncon" />
            </mat-form-field>
            <mat-form-field fxFlex="24%">
                <mat-placeholder fxHide fxShow.xs>{{ 'Sub-Processo' | translate }}</mat-placeholder>
                <input type="text" matInput class="text-right" id="ctosub" name="ctosub" value="{{ contrato.ctosub }}" [(ngModel)]="contrato.ctosub" />
            </mat-form-field>
            <div fxFlex="24%"></div>
        </div>
        <!-- linha 3 -->
        <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between center">
            <label fxFlex="24%" fxHide.xs><strong>{{ 'Tipo Contrato' | translate }}</strong></label>
            <mat-form-field fxFlex="24%">
                <mat-select id="ctotipo" name="ctotipo" [(ngModel)]="contrato.ctotipo" (ngModelChange)="updateDescricao($event)">
                    <mat-option value=""></mat-option>
                    <mat-option *ngFor="let t of tipocontra" [value]="t.codigo" >{{t.codigo}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="49%" fxHide.xs>
                <mat-placeholder fxHide fxShow.xs>{{ 'Tipo Contrato' | translate }}</mat-placeholder>
                <input type="text" matInput id="descricao" name="descricao" value="{{ contrato.descricao }}" disabled [(ngModel)]="contrato.descricao" />
            </mat-form-field>
        </div>
        <!-- linha 4 -->
        <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between center">
            <label fxFlex="24%" fxHide.xs><strong>{{ 'Status' | translate }}</strong></label>
            <mat-form-field fxFlex="24%">
                <mat-select id="ctostatus" name="ctostatus" [(ngModel)]="contrato.ctostatus" (selected)="contrato.ctostatus">
                    <mat-option [value]="">--</mat-option>
                    <mat-option [value]="0">{{ 'Registado' | translate }}</mat-option>
                    <mat-option [value]="1">{{ 'Activo' | translate }}</mat-option>
                    <mat-option [value]="2">{{ 'Alteração Financeira' | translate }}</mat-option>
                    <mat-option [value]="3">{{ 'Rescindido' | translate }}</mat-option>
                    <mat-option [value]="4">{{ 'Rescindido Incumprimento' | translate }}</mat-option>
                    <mat-option [value]="5">{{ 'Terminado' | translate }}</mat-option>
                    <mat-option [value]="6">{{ 'Cancelado' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
            <div fxFlex="49%"></div>
        </div>
        <!-- linha 5 -->
        <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between center">
            <label fxFlex="24%" fxHide.xs><strong>{{ 'Cliente' | translate }}</strong></label>
            <mat-form-field fxFlex="24%">
                <mat-placeholder fxHide fxShow.xs>{{ 'Cliente' | translate }}</mat-placeholder>
                <input type="text" matInput class="text-right" id="ctocli" name="ctocli" value="{{ contrato.ctocli }}" [(ngModel)]="contrato.ctocli"/>
            </mat-form-field>
            <mat-form-field fxFlex="49%" fxHide.xs>
                <mat-placeholder fxHide fxShow.xs>{{ 'Nome' | translate }}</mat-placeholder>
                <input type="text" matInput id="clinom" name="clinom" value="{{ contrato.clinom }}" disabled [(ngModel)]="contrato.clinom"/>
            </mat-form-field>
        </div>
        <div fxLayout fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div fxFlex="50%">{{ mensagemNumeroContratos }}</div>
        </div>
    </form>
</div>
<div mat-dialog-actions class="mat-dialog-actions-adx" fxLayout fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start start" fxLayoutGap="10px">
    <div fxLayout fxLayoutAlign="start center">
        <button type="button" mat-raised-button id="modal_next" color="primary" (click)="SeguinteContrato()">{{ 'Seguinte' | translate }}</button>
        <button type="button" mat-raised-button id="modal_prev" color="primary" (click)="AnteriorContrato()">{{ 'Anterior' | translate }}</button>
    </div>
    <span fxFlex fxHide.xs></span>
    <div fxLayout fxLayoutAlign="start center" fxLayoutWrap>
        <button type="button" mat-raised-button id="modal_select" color="primary" [disabled]="zoomcontrato.invalid" (click)="getContraFromServer()">{{ 'Filtrar' | translate }}</button>
        <button type="button" mat-raised-button id="modal_filtro" color="primary" [disabled]="zoomcontrato.invalid" (click)="SeleccionaContrato()">{{ 'Seleccionar' | translate }}</button>
        <button type="button" mat-raised-button color="warn" (click)="onNoClick()">{{ 'Cancelar' | translate }}</button>
    </div>
</div>
